<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>

		<add name="connectionStringMSSQL"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />

		<add name="connectionStringMySQL"
            connectionString="datasource=127.0.0.1;port=3306;username=root,password=;database=Northwind"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>